<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Podcast.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BEA1FE538055112CF1A345E061BB4B66B5FFA0A3</string>
				<key>dateExpires</key>
				<string>6/4/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEA1FE538055112CF1A345E061BB4B66B5FFA0A3</string>
						<key>dateExpires</key>
						<string>6/4/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D3R568F3KZ</string>
						<key>name</key>
						<string>Muhammad Waqas</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEA1FE538055112CF1A345E061BB4B66B5FFA0A3</string>
						<key>dateExpires</key>
						<string>6/4/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FeedKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D3R568F3KZ</string>
						<key>name</key>
						<string>Muhammad Waqas</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEA1FE538055112CF1A345E061BB4B66B5FFA0A3</string>
						<key>dateExpires</key>
						<string>6/4/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D3R568F3KZ</string>
						<key>name</key>
						<string>Muhammad Waqas</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D3R568F3KZ.frodo.Podcast</string>
				<key>com.apple.developer.team-identifier</key>
				<string>D3R568F3KZ</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>D3R568F3KZ.frodo.Podcast</string>
				</array>
			</dict>
			<key>name</key>
			<string>Podcast.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5f2a3657-9ea7-4874-b8de-ea80539b48aa</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D3R568F3KZ</string>
				<key>name</key>
				<string>Muhammad Waqas</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
